<launch>
    <node name="wheel_node" pkg="base_movement" type="wheel_node.py" output="screen">
        <param name="i2c/bus" type="int" value="0" />
        <param name="i2c/addr" value="0x70" />
    </node>

    <node name="encoder_node" pkg="base_movement" type="encoder_node.py" output="screen">
        <param name="i2c/bus" type="int" value="0" />
        <param name="i2c/addr" value="0x70" />
        <param name="freq" type="double" value="1.0" />
    </node>

    <node name="transform" pkg="base_movement" type="jointstate.py" output="screen">
        <param name="encoder/ticks_per_rev" type="int" value="5000" />
        <param name="wheel/diameter" type="double" value="5.0" />
        <param name="wheel/separation/horizontal" type="double" value="10.0" />
        <param name="wheel/separation/vertical" type="double" value="20.0" />
    </node>

    <node name="kinematics" pkg="base_movement" type="kinematics_controller.py" required="true" output="screen">
    </node>
</launch>